
.login-layout {
    background: url("../../assets/backgound.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}
.form-container {
    width: 360px;
    min-height: 350px;
    padding: 20px 40px;
    background: #fff;
    border-radius: 8px;
    position: absolute;
    top: 45%;
    left: 20%;
    margin-left: -180px;
    margin-top: -175px;
    opacity: 1;
}

.form-container h1 {
    text-align: center;
    margin: 25px 0;
}


.login-form {
    /*max-width: 300px;*/
    width: 100%;
}

.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}