.form-container {
    width: 370px;
    min-height: 350px;
    padding: 20px 40px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -175px;
}

.form-container h1 {
    text-align: center;
    margin: 25px 0;
}


.login-form {
    /*max-width: 300px;*/
    width: 100%;
}

.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}